<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'CHANGE_PASSWORD' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="onSubmit()" #passwordForm="ngForm" novalidate>

    <ion-label position="stacked" color="medium">
      <span>{{ 'CURRENT_PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="password" formControlName="oldPassword"></ion-input>
    </ion-item>

    <ion-label position="stacked" color="medium">
      <span>{{ 'NEW_PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-text color="dark">
      <p class="bold">
        <small>
          {{ 'PASSWORD_VALIDATION_HELP' | translate }}
        </small>
      </p>
    </ion-text>

    <ion-label position="stacked" color="medium">
      <span>{{ 'CONFIRM_PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="password" formControlName="confirmPassword"
        (keyup.enter)="passwordForm.ngSubmit.emit()">
      </ion-input>
    </ion-item>

    <div>
      <ion-button strong type="submit" shape="round" color="primary" [disabled]="isLoadingViewVisible">
        <ion-spinner *ngIf="isLoadingViewVisible"></ion-spinner>
        <span *ngIf="!isLoadingViewVisible">{{ 'SUBMIT' | translate }}</span>
      </ion-button>
    </div>

  </form>
</ion-content>