<ion-header class="ion-no-border">
  <ion-toolbar fixed>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>

    <ion-buttons slot="end">
      <ion-button class="btn-share">
        <ion-label color="primary">
          <h2>Posez nous vos questions ? </h2>
        </ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
    <ion-refresher-content pullingText="{{ 'PULL_TO_REFRESH' | translate }}"
      refreshingText="{{ 'REFRESHING' | translate }}">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid fixed>

    <empty-view *ngIf="isErrorViewVisible" icon="alert-circle-outline" [text]="'Veuillez vous connecter' | translate">
    </empty-view>

    <empty-view *ngIf="isEmptyViewVisible" image="./assets/imgs/undraw_address_udes.svg" imageWidth="120"
      [text]="'EMPTY_ADDRESSES' | translate">
    </empty-view>

    <ion-row class="ion-justify-content-center" *ngIf="isContentViewVisible">
      <ion-col size-xs="12" size-lg="9">

          <ion-list lines="full">
            <ion-item-sliding *ngFor="let notification of notifications; let i = index">
              <ion-item href="#">
                <ion-icon *ngIf="notification.read" slot="start" name="mail-open" class="notification-icon mr-16"></ion-icon>
                <ion-icon *ngIf="!notification.read" slot="start" name="mail" class="notification-icon mr-16"></ion-icon>        
                <ion-label>
                  <h2>{{ notification.message }}</h2>
                </ion-label>
                <ion-note slot="end" color="primary">{{ notification.createdAt | amDateFormat: 'LL'}}</ion-note>
             </ion-item>

             <ion-item-options side="start">
              <ion-item-option>
                <ion-icon slot="icon-only" *ngIf="notification.read" name="mail"></ion-icon>
                <ion-icon slot="icon-only" *ngIf="!notification.read" name="mail-open"></ion-icon>
              </ion-item-option>
            </ion-item-options>
      
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
            </ion-item-options>
            </ion-item-sliding>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button>
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button  href="https://chat.whatsapp.com/CHEs2SGhIWEGP40psc9kyx">
          <ion-icon name="logo-whatsapp" color ="success"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>