ion-content {
  --background: var(--ion-color-light);
}

ion-grid {
  background: #fff;
}

ion-item {
  --min-height: 120px;

  ion-thumbnail {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 991px) {

  ion-grid,
  ion-grid>ion-row>ion-col {
    padding: 0 !important;
  }
}