<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark" *ngIf="platform.is('mobile')" fixed>
    <ion-tab-button tab="home" layout="icon-top" (click)="handleTabClick($event)">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse" layout="icon-top" (click)="handleTabClick($event)">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ 'CATEGORIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" layout="icon-top" (click)="handleTabClick($event)">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{ 'CART' | translate }}</ion-label>
      <ion-badge color="light" 
        *ngIf="preference.cartCount">
        {{ preference.cartCount }}
      </ion-badge>
    </ion-tab-button>
        <ion-tab-button tab="notifications" layout="icon-start" (click)="handleTabClick($event)">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>{{ 'Notif' | translate }}</ion-label>
          <ion-badge class="static margin-6-horizontal" color="light" *ngIf="preference.notificationsCount">
            {{ preference.notificationsCount }}
          </ion-badge>
        </ion-tab-button>
    <ion-tab-button tab="account" layout="icon-top" (click)="handleTabClick($event)">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <ion-tab-bar slot="top" color="dark" *ngIf="platform.is('desktop')" fixed>
    <ion-tab-button tab="home" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ 'CATEGORIES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="cart"></ion-icon>
      <ion-label>{{ 'CART' | translate }}</ion-label>
      <ion-badge class="static margin-6-horizontal" color="light" 
        *ngIf="preference.cartCount">
        {{ preference.cartCount }}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="notifications" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{ 'Notif' | translate }}</ion-label>
      <ion-badge class="static margin-6-horizontal" color="light" 
        *ngIf="preference.notificationsCount">
        {{ preference.notificationsCount }}
      </ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="account" layout="icon-start" (click)="handleTabClick($event)">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'ACCOUNT' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>