:host {
  display: inline-block;
  width: 100%;
}

ion-card {
  overflow: hidden;
  box-shadow: none;

  ion-card-content {
    padding: 4px 6px !important;
  }

  .image-container {
    position: relative;
    padding: 16px;

    .bg-img {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 150px;
    }

    span {
      background: #ccc;
      padding: 3px;
      color: #333;
      font-size: 12px;
      border-radius: 2px;
      position: absolute;
      bottom: 10px;
      left: 16px;
    }
  }
}
